
$primary: #0020C2;
$muted: #9f9fa3;
$light: #F1F2F4;
$warning: #F6970A;
$danger: #E53E3E;
$success: #0F8843;
$body: #1C232C;
$info: #069CDF;
$purple: #5148E7;
$white: #fff;
$lightGray: #f0f0f0;

$text: left, right, center, justify;
$fontWeight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$fontSizes: (
        'xs': (
              'fs': 0.75rem,
              'lh': 1rem
        ) ,
        'sm': (
                'fs': 0.875rem,
                'lh': 1.25rem
        ) ,
        'base': (
                'fs': 1rem,
                'lh': 1.5rem
        ) ,
        'lg': (
                'fs': 1.125rem,
                'lh': 1.75rem
        ) ,
        "xl": (
                'fs': 1.25rem,
                'lh': 1.75rem
        ) ,
        "2xl": (
                'fs': 1.5rem,
                'lh': 2rem
        ) ,
        "3xl": (
                'fs':  1.875rem,
                'lh': 2.25rem
        ) ,
        "4xl": (
                'fs': 2.25rem,
                'lh': 2.5rem
        ) ,
        "5xl":(
                'fs': 3rem,
                'lh': 1
        ) ,

);
$sizes: (
        0: 0,
        1: .25rem,
        2: .5rem,
        3: 1rem,
        4: 1.5rem,
        5: 3rem
);
$boxSizes: (
        0: 0,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%
);

$mediaSizesForWith:(
        'xs': 375px,
        'sm': 425px,
        'md': 768px,
        'lg': 1024px,
        "xl": 1200px,
);
$displays: (
        'block': 'block',
        'inline-block': 'inline-block',
        'inline': 'inline',
        'flex': 'flex',
        'inline-flex': 'inline-flex',
        'table': 'table',
        'inline-table': 'inline-table',
        'table-caption': 'table-caption',
        'table-cell': 'table-cell',
        'table-column': 'table-column',
        'table-column-group': 'table-column-group',
        'table-footer-group': 'table-footer-group',
        'table-header-group': 'table-header-group',
        'table-row-group': 'table-row-group',
        'table-row': 'table-row',
        'flow-root': 'flow-root',
        'grid': 'grid',
        'inline-grid': 'inline-grid',
        'contents': 'contents',
        'list-item': 'list-item',
        'hidden': 'none'
);
$colors: (
        "primary": $primary,
        "muted": $muted,
        "light": $light,
        "warning": $warning,
        "success": $success,
        "info": $info,
        "danger": $danger,
        "white" :$white,
        "body": $body
);
g {
  background-color: rgba(0, 48, 255, 0.4);
}


