
$primary: #0020C2;
$muted: #9f9fa3;
$light: #F1F2F4;
$warning: #F6970A;
$danger: #E53E3E;
$success: #0F8843;
$body: #1C232C;
$info: #069CDF;
$purple: #5148E7;
$white: #fff;
$lightGray: #f0f0f0;

$text: left, right, center, justify;
$sizes: (
        0: 0,
        1: .25rem,
        2: .5rem,
        3: 1rem,
        4: 1.5rem,
        5: 3rem
);
$boxSizes:(
        0: 0,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%
);

$mediaSizesForWith:(
        'xs': 375px,
        'sm': 425px,
        'md': 768px,
        'lg': 1024px,
        "xl": 1200px,
);

$colors: (
        "primary": $primary,
        "muted": $muted,
        "light": $light,
        "warning": $warning,
        "success": $success,
        "info": $info,
        "danger": $danger,
        "white" :$white,
        "body": $body
);
g {
  background-color: rgba(0, 48, 255, 0.4);
}